/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/homepage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Featured/featured.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.featured_container__Z6sho {
    margin-top: 30px;
  }

  .featured_title__9BIwX {
    font-size: 96px;
    font-weight: 300;
  }

  .featured_post__Nkxfn {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .featured_imgContainer__ZXeNx {
    flex: 1 1;
    height: 500px;
    position: relative;
  }

  .featured_image__SL6BQ {
    object-fit: cover;
  }

  .featured_textContainer__94n9P {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .featured_postTitle__v8_hi {
    font-size: 40px;
  }

  .featured_postDesc__1_1NA {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
  }

  .featured_button__wiMmI {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
  }

  @media screen and (max-width: 1280px) {
    .featured_title__9BIwX {
      font-size: 72px;
    }
  }

  @media screen and (max-width: 1024px) {
    .featured_title__9BIwX {
      font-size: 64px;
    }

    .featured_imgContainer__ZXeNx {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .featured_title__9BIwX {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 640px) {
    .featured_title__9BIwX {
      font-size: 36px;
    }
  }

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/CategoryList/categoryList.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/CardList/cardList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Pagination/pagination.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Menu/menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

